# Maven
target
dependency-reduced-pom.xml

# IntelliJ
.idea
*.iml
*.ipr
*.iws
.bazelproject
.ijwb

# OSX
.DS_Store

# Scala worksheets
*.sc

# Node
*/node_modules/
/.project

tools/2nd_party_resolved_dependencies_current_branch.bzl
tools/master_2nd_party_resolved_dependencies.bzl
tools/third_party_deps_of_external_wix_repositories.bzl
tools/*_2nd_party_resolved_dependencies.json
tools/2nd_party_resolved_dependencies/*
tools/bazelwrapper/__pycache__/*
/bazel-*
